body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

/*.board-row:after {
  clear: both;
  content: "";
  display: block;
}*/

.status {
  margin-bottom: 10px;
}

.board-row{
  display: flex;
  flex-flow: row wrap;
  width:100px;
}

.inner {
  font-size: 24px;
  height: 34px;
  width: 100%;
}

.square {
  background: #fff;
  border: 1px solid #999;
  /*float: left;*/
  font-size: 24px;
  font-weight: bold;
  /*line-height: 34px;*/
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  /*padding: 0;*/
  text-align: center;
  width: 30px;
}

.square:focus {
  outline: none;
}

.stepInfo {
  list-style: none;
  padding-top: 10px
}

.step:hover{
  cursor:pointer;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  display: flex;
  flex-flow: column;
}
